<!DOCTYPE html>
<html xmlsns:th="http://www.thymeleaf.org"
           xmlns="http://www.w3.org/1999/xhtxl">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/Menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
        <h2 th:text=" #{articulo.datos}">Datos de Categoria</h2>
        <a th:href="@ {/categoria/listado}" th:text=" #{accion.regresar}">Regresar</a>
        <br/>
        <form th:action="@{/categoria/guardar}"
            method="post"
            th:object="${categoria}">
            <input type="hidden" name="idArticulo" th:field="*{idArticulo}"/>
            <label for="categoria" th:text=" #{articulo.categoria}">Categoría:</label>
            <select th:field="*{idCategoria}">
               <opcion th:each="categoria: ${categorias}"
                               th:value="${categoria.idCategoria}"
                               th:text="${categoria.descripcion}"/>
            </select>
            <label for="descripcion" th:text=" #{articulo.descripcion}">Descripción:</label>
            <input type="text" name="descripcion" th:field="{descripcion}" /><br/>
            <label for="detalle" th:text=" #{articulo.detalle}">Detalle</label>
            <input type="text" name="detalle" th:field="{detalle}" /><br/>
            <label for="precio" th:text=" #{articulo.precio}">Precio</label>
            <input type="number" name="precio" th:field="{precio}" /><br/>
            <label for="existencias" th:text=" #{articulo.existencias}">Existencias</label>
            <input type="text" name="existencias" th:field="{existencias}" /><br/>
            <label for="activo" th:text=" #{articulo.activo}">Activo</label>
            <input type="checkbox" name="activo" th:field="{activo}" />
            <br/><br/>
            <button type="submit" name="guardar"  th:text=" #{accion.guardar}" />
        </form>    
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>   

