<!DOCTYPE html>
<html xmlsns:th="http://www.thymeleaf.org"
           xmlns="http://www.w3.org/1999/xhtxl">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:fragment="header"> class='encabezado'> <!--Etiqueta para ofrecerle al browser info de que es un encabezado-->
         <nav Class='nav'> <!--esta etiqueta es para ilustrarle al browser que posiblemente es un menú-->
           <a th:href='@{/}' class="logo nav-link">TechShop</a>
           <ul class="nav-menu">
               <li class="nav-menu-item">
                   <a class="nav-menu-link nav-link" th: href="@{/cliente/listado}" th:text="#{plantilla.clientes}">Clientes</a>
               </li>
               <li class="nav-menu-item">
                   <a class="nav-menu-link nav-link" th: href="@{/categoria/listado}" th:text="#{plantilla.categorias}">Categorias</a>
               </li>
               <li class="nav-menu-item">
                   <a class="nav-menu-link nav-link" th: href="@{/articulo/listado}" th:text="#{plantilla.articulos}">Articulos</a>
               </li>
         </nav>
            <h1>TechShop</h1>
            
            <footer th:fragmnet="header" class="footer">
                <p>&COPY [[ #{plantilla.derechos}]] 
                <a  th: href="@{/ (lang=es)}">ES</a>
                <a  th: href="@{/ (lang=en)}">EN</a></p>
             </footer>   
        </header>
    </body>
</html>
