/*Hoja de estilos de la clase 2 Web y patrones*/
/*id...#xxxx*/

encabezado {
    position: absolute;
    top: 0;
    left:0;
    height: 8%;
    width: 100%;
    background-color: blue;
    color: white;
}

#encabezado h1 {
    display: inline;
}

#menu {
    position: absolute;
    top: 8%;
    left:0;
    height: 4%;
    width: 100%;
    background-color:black;
    color: purple;
}

#menu a{
    background-color: red;
    color:black;
}

#menu a:hover{
    background-color: red;
    color:white;
}